extends layout

include ./mixins/projectCard

block content
  #landing-hero(style="background-image:url(" + brigade.heroImage + ");background-position:bottom center;")
    //Front end work needed for lines 6-7
    #landing-message.col-sm-7
      p
        strong= brigade.name
        | &nbsp;
        =brigade.copy.tagline
    .landing-events.col-sm-5
      div.content
        if currentEvents
          h5 Happening Right Now
            ul.list-group-item
              each event in events
                if event.start < nowTime && event.end > nowTime
                  li.list-group-item.checkin
                    a(href='/checkin?eventid='+event._id)
                      i.fa.fa-calendar-check-o.fa-2x
                      span.event-date Check in at
                      span.event-title=event.title
        h5 Upcoming events
          ul.list-group-item
            each event in events
              if event.start > nowTime
                li.list-group-item
                  a(href=event.url)
                    i.fa.fa-calendar.fa-2x
                    span.event-date=event.startDate
                    span.event-title=event.title
  hr
  .centered
    #landing-stats.hidden-md-down
      each displayedstat in brigade.displayedstats.slice(0, 4)
        if (displayedstat.link !== "undefined")
          a.landing-stat(href=displayedstat.link)
            .row.text-xs-center
              .col-sm-5
                img(src=displayedstat.imglink)
              .col-sm-7
                p.stat=displayedstat.stat
                p.txt=displayedstat.caption
        else
          .landing-stat
            .row.text-xs-center
              .col-sm-5
                img(src=displayedstat.imglink)
              .col-sm-7
                p.stat=displayedstat.stat
                p.txt=displayedstat.caption
  hr.hidden-md-down
  #landing-ctas.row.center-block
    .col-md-4
      #landing-cta-1.card.landing-cta
        span.card-img-top(style="background-image:url('https://i.imgur.com/eat2FgN.png');")
        .card-block
          h4.card-title Discuss
          p.card-text Share your idea on the forum telling a story about needs and problems that should be resolved. Join ongoing discussions to help find solutions.
          a.btn.btn-red(href=brigade.slack) Join Slack
    .col-md-4
      #landing-cta-2.card.landing-cta
        span.card-img-top(style="background-image:url('https://i.imgur.com/pSBPT2n.png');")
        .card-block
          h4.card-title Meet Locally
          p.card-text Meet regularly with a group of activists. Discuss needs and ideas together with civil servants and civil society organizations. Boost project development by meeting face to face.
          a.btn.btn-red(href='http://www.meetup.com/'+brigade.meetup) Join us on Meetup
    .col-md-4
      #landing-cta-3.card.landing-cta
        span.card-img-top(style="background-image:url('https://i.imgur.com/7JCmL7b.png');")
        .card-block
          h4.card-title Build Projects
          p.card-text Start a new project as its coordinator or join one of the existing multidisciplinary teams. Follow project development path from the needs analysis to the country wide deployment.
          a.btn.btn-red(href='http://www.github.com/'+brigade.github) Join Github
  hr  
  if projects.length
    #landing-projects.row.center-block
      h2.text-xs-center Active Projects
      .row.grid.project-container(data-masonry='{ "itemSelector": ".grid-item", "gutter": 14, "columnWidth": 350, "fitWidth": true }')
        each project in projects
          +projectCard(project, true)
      .col-sm-12.text-xs-center
        a.btn.btn-red(href="projects") See All Projects
    hr
  if posts.length
    #landing-blog.row.center-block
      h2.text-xs-center  Blog
      for post in posts
        .col-sm-4
          #post-1.card.post
            if post.image
              span.thumbnail.img-fluid.card-img-top(style='background-image:url('+post.image+');')
            .card-block
              h4.card-title
                a(href='/blog/post/'+post.slug)=post.title
              p.card-text=post.description
              p.card-author
                span Written by&nbsp;
                  =post.author
                span.timeago-render(datetime=post.date)=post.date
      .col-sm-12.text-xs-center
        a.btn.btn-red(href="/blog") See All Posts

block script
  script(src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/timeago.js/2.0.3/timeago.min.js')
  script.
    new timeago().render(document.querySelectorAll('.timeago-render'))
