extends ../layout
include ../mixins/projectCard

block content
  .row.breadcrumbs
    .col-sm-12
      a(href='/')= brigade.name
      | &nbsp;&nbsp;/&nbsp;
      a(href='/projects') Projects
  .row.page-header
    .col-sm-12
      h1.page-title Projects
        if user
          a.btn.btn-secondary.pull-right(href='/admin/projects/new') Create New Project
        else
          a.btn.btn-social.btn-github.pull-right(href='/auth/github')
            i.fa.fa-github
            | Log in to create new project
  .row
    hr
  .row.filter-selection
    .col-sm-12
      form.form-inline(action='/projects', method='GET')
        input(type='hidden', id='showall', name='showall', value=showingInactive.toString())
        select.hidden(name='needs', id='needs', multiple=true)
          for tag in needs
            option(value=tag, selected=(selectedNeeds.indexOf(tag)>-1?true:false))=tag
        select.hidden(name='keywords', id='keywords', multiple=true)
          for tag in keywords
            option(value=tag, selected=(selectedKeywords.indexOf(tag)>-1?true:false))=tag
        .form-group.row
          label.sr-only(for='search') Search Projects
          .input-group
            input.form-control(type='text', name='search', id='search', value=searchTerm, placeholder='Search Projects...')
            .input-group-btn
              button.btn.btn-primary
                i.fa.fa-search
      form.form-inline(action='/projects', method='GET')
        input(type='hidden', id='showall', name='showall', value=showingInactive.toString())
        input(type='hidden', name='search', id='search', value=searchTerm)
        select.hidden(name='needs', id='needs', multiple=true)
          for tag in needs
            option(value=tag, selected=(selectedNeeds.indexOf(tag)>-1?true:false))=tag
        .input-group
          select.form-control.keywords-select(name='keywords', id='keywords', multiple=true)
            for tag in keywords
              option(value=tag, selected=(selectedKeywords.indexOf(tag)>-1?true:false))=tag
          .input-group-btn
            button.btn.btn-primary
              i.fa.fa-tags
      form.form-inline(action='/projects', method='GET')
        input(type='hidden', id='showall', name='showall', value=showingInactive.toString())
        input(type='hidden', name='search', id='search', value=searchTerm)
        select.hidden(name='keywords', id='keywords', multiple=true)
          for tag in keywords
            option(value=tag, selected=(selectedKeywords.indexOf(tag)>-1?true:false))=tag
        .input-group
          select.form-control.needs-select(name='needs', id='needs', multiple=true)
            for tag in needs
              option(value=tag, selected=(selectedNeeds.indexOf(tag)>-1?true:false))=tag
          .input-group-btn
            button.btn.btn-primary
              i.fa.fa-life-ring
      form.float.right.form-inline(action='/projects', method='GET', class=((!searchTerm || !searchTerm.length) && !selectedKeywords.length && !selectedNeeds.length)?'hidden':'')
        input(type='hidden', id='showall', name='showall', value=showingInactive.toString())
        input(type='hidden', name='search', id='search', value='')
        select.hidden(name='keywords', id='keywords', multiple=true)
        select.hidden(name='needs', id='needs', multiple=true)
        button.btn.btn-secondary.standalone
          i.fa.fa-close
          | &nbsp;Clear filters

  .row
    hr
  .row
    .col-sm-6.small.float.right.ta-r
      | Showing&nbsp;
      strong=projects.length
      | &nbsp;
      = (showingInactive?'':'active ')
      | projects out of&nbsp;
      strong=totalProjects
      | &nbsp;total&nbsp;&nbsp;
      form.form-inline(action='/projects', method='GET', class=showingInactive?'hidden':'')
        select.hidden(name='needs', id='needs', multiple=true)
          for tag in needs
            option(value=tag, selected=(selectedNeeds.indexOf(tag)>-1?true:false))=tag
        select.hidden(name='keywords', id='keywords', multiple=true)
          for tag in keywords
            option(value=tag, selected=(selectedKeywords.indexOf(tag)>-1?true:false))=tag
        input(type='hidden', name='search', id='search', value=searchTerm)
        input(type='hidden', id='showall', name='showall', value='true')
        button.small.btn.btn-secondary Show inactive projects
      form.form-inline(action='/projects', method='GET', class=showingInactive?'':'hidden')
        select.hidden(name='needs', id='needs', multiple=true)
          for tag in needs
            option(value=tag, selected=(selectedNeeds.indexOf(tag)>-1?true:false))=tag
        select.hidden(name='keywords', id='keywords', multiple=true)
          for tag in keywords
            option(value=tag, selected=(selectedKeywords.indexOf(tag)>-1?true:false))=tag
        input(type='hidden', name='search', id='search', value=searchTerm,)
        input(type='hidden', id='showall', name='showall', value='false')
        button.small.btn.btn-secondary Hide inactive projects
  .row
    hr
  .container.project-listing
    .row
      .col-sm-12
        .row.grid.project-container(data-masonry='{ "itemSelector": ".grid-item", "gutter": 14, "columnWidth": 350 }')
          each project in projects
            +projectCard(project, project.published || showingInactive)


block script
  script(src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js")
  script.
    $(document).ready(function() {
      $('.needs-select').multiselect({nonSelectedText:'Filter by project needs'})
      $('.keywords-select').multiselect({nonSelectedText:'Filter by project keywords'})
    })
