extends ../layout

mixin sidebarItem(name,subItems,selectedItem)
  li
    strong=plural(capitalize(name))
    br
    ul(data-sidebar=name)
      if selectedItem
        li
          a(href='?')
            i.fa.fa-close
            | Clear Selection
        br
      br
      each item in subItems
        li(class=selectedItem===item?'selected':'')
          a(href="?"+name+'='+item)=item
      br
      br

block content
  .breadcrumbs.row
    .col-sm-12
      a(href='/')= brigade.name
      | &nbsp;&nbsp;/&nbsp;
      a(href='/blog') Blog
  .page-header.row
    .col-sm-12
      h1.page-title Blog
        if user && (user.isBlogger() || user.roles.blog || user.roles.core || user.roles.superAdmin)
          a.btn.btn-secondary.pull-right(href='/blog/new') New Post
  hr.row
  .container
    .la.row
      .col-sm-3.sidebar
        br
        span Filter your search:
        br
        br
        ul(data-sidebar='true')
          +sidebarItem('tag',tags,selectedTag)
      .col-sm-9
        .la.row
          each post in posts
            if post.published
              .col-sm-6
                .card.post-list-card
                  a(href='/blog/post/'+post.slug)
                    span.thumbnail(style='background-image:url('+post.image+');').img-fluid.card-img-top
                  .card-block
                    h3.card-title
                      a(href='/blog/post/'+post.slug)
                        =post.title
                    p.card-text= post.description
                    p.card-author
                      span Written by&nbsp;
                        =post.author
                        span.timeago-render(datetime=post.date)
                          =post.date
                    p.card-tags
                      span Tags
                      each tag in post.tags
                        a.badge(href='?tag='+tag)= tag
        if totalPages > 1
          .col-md-12
            if page > 1
              a(href=currentUrl+(page-1))
                i(class='fa fa-arrow-left' aria-hidden='true')
                | Prev
              | |
            | Page #{page}
            if page < totalPages
              | |
              a(href=currentUrl+(page+1)) Next
                i(class='fa fa-arrow-right' aria-hidden='true')
block script
  script(src='https://cdnjs.cloudflare.com/ajax/libs/timeago.js/2.0.3/timeago.min.js')
  script.
    new timeago().render(document.querySelectorAll('.timeago-render'))
